.footer-first {
  position: relative;
}
.footer-first .container {
  background: linear-gradient(130deg, #42b097 49%, #2db5df 100%);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-first .container h3 {
  margin: 0;
  color: #fff;
}
.footer-second .custom {
  background: linear-gradient(130deg, #42b097 49%, #2db5df 100%);
  font-size: 16px;
  border-radius: 100%;
  padding: 10px 14px;
  color: #fff;
}
.footer-second img.image-fluid {
  width: 240px;
}
.footer-second p {
  font-size: 12px;
  margin: 0;
}
li a {
  font-size: 12px;
  color: var(--gray-light);
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
li a:hover {
  color: var(--primary-color);
}
@media (max-width: 576px) {
  .footer-second img.image-fluid {
    width: 200px;
  }
}
